.Carousel {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.Carousel-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.Carousel-title {
  font-size: 1.5em;
}

.Carousel-intro {
  font-size: large;
}

.slider-wrapper{
  position: relative;
  perspective: 1200px;
}

.slider {
  position: absolute;
  width: 500px;
  transform-style: preserve-3d;
  transform-origin: 250px 250px -250px;
  transition-duration: .7s;
  transition-timing-function: ease-in-out;
}
.slide {
  position: absolute;
  width: 500px;
  height: 300px;
  font-size: 100px;
  text-align: center;
  line-height: 250px;
}

.firstSlide {
  background: red;
  transform: rotateY(0deg) translate3d(0,0,0);
}

.secondSlide {
  background: green;
  transform: rotateY(90deg) translate3d(250px,0, 250px);
}

.fourSlide{
  background: blue;
  transform: rotateY(-90deg) translate3d(-250px,0, 250px);
}

.thirdSlide{
  background: yellow;
  transform: rotateY(-180deg) translate3d(0,0,500px);
}
